/* NXDL items excluded with maxOccurs=0 */
p.nxdl-not-allowed > strong,
p.nxdl-not-allowed > em,
p.nxdl-not-allowed > .bolditalic {
  text-decoration: line-through;
  color: #888;
}

span.nxdl-not-allowed {
  color: #c00;
  font-weight: bold;
}
