*.swp
*.pyc
sphinx/build
manual/build
manual/source/.introduction.rst.swp
manual/source/nexus.pdf
manual/source/nxdl_desc.rst
manual/source/*.table
manual/source/classes/applications/NX*.rst
manual/source/classes/base_classes/NX*.rst
manual/source/classes/contributed_definitions/NX*.rst
