# Hidden files
.*

# Python byte / compiled / optimized
*.py[cod]
__pycache__/

# Build artifacts
build/
_build/
makelog.txt

# Obsolete in-source build artifacts
manual/pdf
manual/source/nexus.pdf
manual/source/nxdl_desc.rst
manual/source/*.table
manual/source/classes/*/NX*.rst
manual/source/classes/*/*.nxdl.xml
manual/source/classes/contributed_definitions/canSAS

# Unknown
/python/
__github_creds__.txt
