# Hidden files
.*
!.github

# Python byte / compiled / optimized
*.py[cod]
__pycache__/

# Build artifacts
build/
makelog.txt
nyaml/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*_parsed.yaml
# Unknown
/python/
__github_creds__.txt

# used locally to validate nxdl.xsd and nxdlTypes.xsd
XMLSchema.xsd
