# Prepare for Documentation
lxml
pyyaml
nyaml==0.0.8

# Documentation building
sphinx>=5
sphinx-tabs
sphinx-toolbox
chios

# Testing
pytest

# Code style and auto-formatting
black>=22.3
flake8>=4
isort>=5.10
