# Prepare for Documentation
lxml 
pyyaml
nyaml@git+https://github.com/FAIRmat-NFDI/nyaml.git@7a2b92bc2c1c0e69e5878e479c4ea053c00eb5c3

# Documentation building
sphinx>=5
sphinx-tabs
sphinx-toolbox
sphinx_comments

# Testing
pytest

# Code style and auto-formatting
black>=24.1.1
flake8>=4
isort>=5.10
