# Prepare for Documentation
lxml>=4.9.1 
pyyaml
nyaml==0.2.0

# Documentation building
sphinx>=5
sphinx-tabs
sphinx-toolbox
sphinx_comments

# Testing
pytest

# Code style and auto-formatting
black>=24.1.1
flake8>=4
isort>=5.10
