
html{
    /* Choose font and color */
    font-family:Arial,Verdana,sans-serif;
    color:#333;

	/* height:101%; */ /* Force scroll bar */
    /* Fluid width with minimum/maximum */
    width: 100%;
    min-width: 40em;
    max-width: 70em;
    margin:0 auto;
    padding: 0;
    /* Set background colour outside the width */
    background:#F9F0DA;
}
body{
    /* Set page color to white */
    background:#FFFFFF;
    /* Leave a bit of margin around the page; 7px for top and bottom
     * because it works well with the NeXus logo; 0.75em right and
     * left because it works well with drop shadows */
    margin: 7px 0.75em;
}

/* Indent page content relative to headers/footers */
#content {
    margin: 1.25em;
}

/* Crop the NeXus logo */
#logo {
    overflow: hidden;
    position: absolute;
    padding: 0px;
    top: 0px;
}
#logo img{
    margin: -20px 0px -2px -2px;
}

/* Position the byline relative to the logo */
#gloss{
    position: absolute;
    font-style: italic;
    font-size: 16pt;
    top: 23px;
    margin-left: 150px;
}

/* Header height comes from logo height */
#header{
    height: 74px;

    /* http://www.colorzilla.com/gradient-editor/  */
    background: #e1ecf7; /* Old browsers */
    background: -moz-linear-gradient(top, #e1ecf7 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1ecf7), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e1ecf7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e1ecf7 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e1ecf7 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top, #e1ecf7 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ecf7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/*------------------------------------------------------------------*\
	Drop down menus
   http://csswizardry.com/2011/02/creating-a-pure-css-dropdown-menu/
\*------------------------------------------------------------------*/

.menu-bar{
    position:relative;
    float:right;
    display:inline;
}
.menu-bar ul {
    padding: 0;
    margin: 0;
}

.menu{
	list-style:none;
	font-weight:bold;
	/* Clear floats */
	float:left;
	z-index:5;
}
.menu li{
	float:left;
    margin-left:10px;
	position:relative;
}
.menu a{
	display:block;
	padding:0 5px;
	color:#fff;
	background:#333;
	text-decoration:none;
}
.menu a:hover{
	color:#fff;
	background:#6b0c36;
	text-decoration:none; /* underline */
}

/*--- DROPDOWN ---*/
.menu ul {

	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
.menu ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
.menu ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.menu li:hover ul{ /* Display the dropdown on hover */
	left: 0; /* Bring back on-screen when needed */
}
.menu li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#6b0c36;
	text-decoration:none; /* underline */
}
.menu li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
.menu li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#333;
}





/* Launch menu: two column list mode */

/* Make sure the two column mode has the correct div height */
#launch-menu:after {
    content:".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* IE needs the following */
#launch-menu { display: inline-block; _height: 1%; }
#launch-menu { display: block; }


/* Set link fonts and colors */
#launch-menu dt {
    margin-top: 1ex;
    color: #309;
    font-size: 2.2em;
    font-style: italic;
    font-weight: bold;
}
#launch-menu dd {
    color: #44d;
    font-size: 1.2em;
    margin: 0pt;
}

#launch-menu dt A:visited { color: #309; }
#launch-menu dt A:active { color: #309; }
#launch-menu dt A:line { color: #309; }
#launch-menu dt A:hover { color: #6b0c36; }
#launch-menu dd A:visited { color: #44d; }
#launch-menu dd A:active { color: #44d; }
#launch-menu dd A:line { color: #44d; }
#launch-menu dd A:hover { color: #6b0c36; }


A { text-decoration: none; }
A:hover { text-decoration: underline; color: #6b0c36; }

/* Columns are equal width. */
#launch-left {
    float:left;
    width:50%;
}
#launch-right {
    float:right;
    width:50%;
}


/* Text style for docbook "Chapter - Section" indicators */
#docbook-footer p {
    font-weight: bold;
    padding: 0;
    margin: 0;
}
#docbook-header p {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

/* Left - centered - right for headers and footers.
   Note: must encode in html as left - right - centered.
*/    
.left{
text-align:left;
float:left;
}
.right{
float:right;
text-align:right;
}
.centered{
text-align:center;
}